.task-item input{
    border-width: 0px;
    font-size: 25px;
    text-align: center;
    width: 45%;
    margin-left: 32%;
    border-width: 3px;
}
textarea{
    border-width: 0px;
    align-items: center;
}
